// footer start

footer{
    width: 101%;
    height: 80px;
    background-color: #333A44;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer__block{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer__brand__links{
            width: 500px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;

            .footer__brand{
                width: 150px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .footer__links{
                width: 350px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;

                li,
                a {
                    list-style: none;
                    text-decoration: none;
                }

                & ul {
                    width: 300px;
                    height: 80px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: absolute;
                    top: 0px;
                    font-family: 'Space Mono', monospace;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 25px;
                    text-align: center;
                    color: #FFFFFF;

                    & li a {
                        color: #939CAA;

                        &:active{
                            color: #FCB72B;
                        }
                    }
                
                }
            }

        }
        .icons{
            width: 130px;
            margin: 10px;


            & a{
                color: #FCB72B;


                & i{
                    font-size: 25px;
                    margin-right: 15px;
                }
            }
        }
    }
}

@media only screen and (max-width:576px) {
    // footer start
    footer{
        width: 576px;
        height: 400px;
        background-color: #333A44;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        .footer__block{
            width: 406px;
            height: 300px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
    
            .footer__brand__links{
                width: 500px;
                height: 280px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                flex-direction: column;


                .footer__brand{
                    width: 150px;
                    height: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // margin-right: 20px;
                }
                .footer__links{
                    width: 350px;
                    height: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    li,
                    a {
                        list-style: none;
                        text-decoration: none;
                    }
    
                    & ul {
                        width: 300px;
                        height: 120px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        position: absolute;
                        top: 0px;
                        font-family: 'Space Mono', monospace;
                        font-size: 26px;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 25px;
                        text-align: center;
                        color: #FFFFFF;
                        flex-direction: column;
                        margin-top: 100px;
                        // margin-lef: 30px;
    
                        & li a {
                            color: #939CAA;
                            font-size: 22px;
    
                            &:active{
                                color: #FCB72B;
                            }
                        }
                    
                    }
                }
    
            }
            .icons{
                width: 200px;
                margin-left: 30px;
    
    
                & a{
                    color: #FCB72B;
    
    
                    & i{
                        font-size: 25px;
                        margin-left: 20px;
                    }
                }
            }
        }
    }

}